@use "./variables" as *;

button {
    cursor: pointer;
}

#saveTaskBut {
    width: 112px;
    background-color: $saveTaskButColor;
    margin-top: 5px;
    border: 1px solid $saveTaskButColor;
    border-radius: 10px;
}


// radio buttons
section.newTaskBox input[type=radio] {
    appearance: none;
    border-radius: 50%;
    cursor: pointer;
    
    &:checked,
    &:focus {
       outline-color: green;
    }
}

.colorOne {
    border: 8px solid $color1;
    outline: 1px solid $color1;
}

.colorTwo {
    border: 8px solid $color2;
    outline: 1px solid $color2;
}

.colorThree {
    border: 8px solid $color3;
    outline: 1px solid $color3;
}
// radio buttons


.coolArrow {
    border: none;
    background: transparent;
    i {
        font-size: 1.8rem;
        color: rgba(143, 124, 109, 0.6);
    }
}

.coolTrash {
    border: none;
    background: transparent;
    i{
        font-size: 1.8rem;
        color: rgb(80, 78, 78);
    }
}