@use "./variables" as *;

button {
    cursor: pointer;
}

#saveTaskBut {
    width: 112px;
    background-color: $saveTaskButColor;
    margin-top: 5px;
    border: 1px solid $saveTaskButColor;
    border-radius: 10px;
}


// radio buttons
#colorOne {
    appearance: none;
    border-radius: 50%;
    border: 8px solid $color1;
    outline: 1px solid $color1;

    &:checked,
    &:focus {
       outline-color: green;
    }
}

#colorTwo {
    appearance: none;
    border-radius: 50%;
    border: 8px solid $color2;
    outline: 1px solid $color2;

    &:checked,
    &:focus {
       outline-color: green;
    }
}

#colorThree {
    appearance: none;
    border-radius: 50%;
    border: 8px solid $color3;
    outline: 1px solid $color3;

    &:checked,
    &:focus {
       outline-color: green;
    }
}
