@use 'variables' as *;

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.mainHeading {
    background-color: $background;
    font-family: $baseFont;
    font-size: 1.1rem;
    border-radius: 15px;
    margin: 50px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    h2 {
        font-size: 1rem;
        margin: 0 auto;
    }
    background-color: $background;
    font-family: $baseFont;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formColorFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

    form {
        display: flex;
        align-items: center;
        width: 30%;
        position: relative;

        label {
            cursor: text;
        }

        .inputContainer {
            position: absolute;
            left: 35px;
            display: none;
        
            input {
                height: 30px;
                width: 150px;
                border: none;
                right: 33px;
            }
        }
    }
}

.color1Div,
.color2Div,
.color3Div {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}
.color1Div{
    background-color: $color1;
}
.color2Div{
    background-color: $color2;
}
.color3Div{
    background-color: $color3;
}

// Color submit buttons to be changed with icons
// color submit buttons to be positioned inside the input bar
// Media Query partial created. The form container will change flex direction to column for mobile devices