@use 'variables' as *;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.mainHeading {
    color: rgb(240, 231, 209);
    font-family: $baseFont;
    font-size: 1.5rem;
    text-align: left;
    height: 80px;
    margin: 0 25px;

    h1 {
        margin: 20px 0 0 0;
    }
}

aside {
    width: 58%;
    background-color: $colorLegendBack;
    font-family: $baseFont;
    border-radius: 15px;
    margin-top: 70px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        font-size: 1rem;
        margin: 0 auto;
        font-weight: 100;
        margin-bottom: 10px;
    }
}

.formColorFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    form {
        display: flex;
        align-items: center;
        width: 30%;
        min-width: 160px;
        position: relative;
        margin: 5px 0;
        padding-left: 3px;

        label {
            cursor: text;
            font-weight: bold;
        }

        .inputContainer {
            width: 80%;
            min-width: 130px;
            position: absolute;
            left: 38px;
            display: none;
            z-index: 1;
        
            input {
                width: 73%;
                height: 30px;
                margin: 0;
                padding: 0;
                border: none;
            }

            button {
                width: 30px;
                height: 30px;
                padding: 0;
                border: none;
            }
        }
    }
}

.color1Div,
.color2Div,
.color3Div {
    height: 30px;
    min-width: 30px;
    margin-right: 5px;
}
.color1Div{
    background-color: $color1;
}
.color2Div{
    background-color: $color2;
}
.color3Div{
    background-color: $color3;
}

// Color submit buttons to be changed with icons
// color submit buttons to be positioned inside the input bar
// Media Query partial created. The form container will change flex direction to column for mobile devices