@use "./variables" as *;

main {
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    section {
        width: 32%;
        min-height: 500px;
        padding: 10px;
        border-radius: 15px;
        background-color: $background;
        display: flex;
        flex-direction: column;
        align-content: center;
        ul {
            width: 90%;
            padding: 0;
            margin: 0 auto;
        }
        h3 {
            margin: 0;
            text-align: center;
        }
    }
}

div.newTaskFlex {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    
    
    form {
        width: 90%;
        margin: 0 auto;
        padding: 10px;
        background-color: $newTaskFormBack;
        border: 1px solid black;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        input[type="text"] {
            margin: 5px 0;
            width: 100%;
            border: 1px solid $inputColor;
            background-color: $inputColor;
        }

        input[type="date"] {
            display: inline-block;
        }

        fieldset {
            display: flex;
            justify-content: space-evenly;
        }
    }
}

// When new task added, li styles apply
main{
    section {
        li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-radius: 12px;
            padding: 10px;
            margin: 5px;
            width: 100%;
        }
    }
    .pContainer {
            width: 70%;
            p{
                width: 90%;
                font-size: 0.8rem;
            }
    }
}