@use 'variables' as *;


// max-width 1200px 
// @media (max-width: 1200px) {
//     .formColorFlex {
//         flex-direction: column;
//         .color1Form,
//         .color2Form,
//         .color3Form {
//             margin: 10px;
//             width: 50%;
//             input {
//                 width: 100px;
//             }
//         }
//     }
// }


// max-width 840px 
@media (max-width: 840px) {
    body {
        font-size: 0.8rem;
        h2{
            font-size: 0.9rem;
        }
        ::placeholder {
            font-size: 0.6rem;
        }
    }

    header {
        flex-direction: column;

        aside {
            width: 100%;
            margin: 25px 0;

            .inputContainer {
                min-width: 127px;
            }
        }
    }

    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        section {
            width: 100%;
            min-height: 400px;
            margin: 10px;
        }
            .newTaskFlex {
                min-height: 400px;
                width: 100%;
            }
    }
}

// max-width 400px 
@media (max-width: 400px) {
    .wrapper {
        width: 95%;
    }
    aside {
        width: 90%;

    }
    header {
        .mainHeading {
            margin: 30px;
        }
    }
    footer {
        div {
            padding: 8px;
            text-align: center;
        }
    }
}