// Font Family
$baseFont: 'Raleway', sans-serif;
$titleFont: 'Merriweather', serif;
$placeholderColor: #B1B1B1;

// Colour codes
$background: #E7DED7;
$colorLegendBack: rgba(231,222,215, 0.7);
$color1: #e4d68a;
$color2: #cf98bd;
$color3: #8eb0cf;
// new task form colors
$newTaskFormBack: #c5bbb2;
$saveTaskButColor: #ffffff;
$inputColor: #ffffff;

// Stretch goal completed task gray
// $completedGray: #BBBABB;