// Font Family
$baseFont: 'Raleway', sans-serif;
$placeholderColor: #B1B1B1;

// Colour codes
$background: #E7DED7;
$color1: #FDFFAA;
$color2: #FFAAEC;
$color3: #A8D5FF;
// new task form colors
$newTaskFormBack: #FED4B3;
$saveTaskButColor: #ffffff;
$inputColor: #ffffff;

// Stretch goal completed task gray
// $completedGray: #BBBABB;