html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: rgb(82, 75, 69);
}

.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

input::-webkit-input-placeholder {
  font-family: "Raleway", sans-serif;
  color: #B1B1B1;
  font-size: 0.75rem;
}

input::-moz-placeholder {
  font-family: "Raleway", sans-serif;
  color: #B1B1B1;
  font-size: 0.75rem;
}

input:-ms-input-placeholder {
  font-family: "Raleway", sans-serif;
  color: #B1B1B1;
  font-size: 0.75rem;
}

input::-ms-input-placeholder {
  font-family: "Raleway", sans-serif;
  color: #B1B1B1;
  font-size: 0.75rem;
}

input::placeholder {
  font-family: "Raleway", sans-serif;
  color: #B1B1B1;
  font-size: 0.75rem;
}

button {
  cursor: pointer;
}

.saveTaskBut {
  width: 112px;
  background-color: #ffffff;
  margin-top: 5px;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

section.newTaskBox input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 50%;
  cursor: pointer;
}
section.newTaskBox input[type=radio]:checked, section.newTaskBox input[type=radio]:focus {
  outline-color: green;
}

.colorOne {
  border: 8px solid #e4d68a;
  outline: 1px solid #e4d68a;
}

.colorTwo {
  border: 8px solid #b698be;
  outline: 1px solid #b698be;
}

.colorThree {
  border: 8px solid #8eb0cf;
  outline: 1px solid #8eb0cf;
}

.coolArrow {
  border: none;
  background: transparent;
}
.coolArrow i {
  font-size: 1.8rem;
  color: rgba(143, 124, 109, 0.6);
}

.coolTrash {
  border: none;
  background: transparent;
}
.coolTrash i {
  font-size: 1.8rem;
  color: rgb(80, 78, 78);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.mainHeading {
  color: rgb(238, 224, 209);
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  text-align: left;
  height: 80px;
  margin: 0 25px;
}
.mainHeading h1 {
  margin: 20px 0 0 0;
}

aside {
  width: 58%;
  background-color: rgba(231, 222, 215, 0.7);
  font-family: "Raleway", sans-serif;
  border-radius: 15px;
  margin-top: 70px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
aside h2 {
  font-size: 1rem;
  margin: 0 auto;
  font-weight: 100;
  margin-bottom: 10px;
}

.formColorFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.formColorFlex form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  min-width: 160px;
  position: relative;
  margin: 5px 0;
  padding-left: 3px;
}
.formColorFlex form label {
  cursor: text;
  font-weight: bold;
}
.formColorFlex form .inputContainer {
  width: 80%;
  min-width: 130px;
  position: absolute;
  left: 38px;
  display: none;
  z-index: 1;
}
.formColorFlex form .inputContainer input {
  width: 73%;
  height: 30px;
  margin: 0;
  padding: 0;
  border: none;
}
.formColorFlex form .inputContainer button {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
}

.color1Div,
.color2Div,
.color3Div {
  height: 30px;
  min-width: 30px;
  margin-right: 5px;
}

.color1Div {
  background-color: #e4d68a;
}

.color2Div {
  background-color: #b698be;
}

.color3Div {
  background-color: #8eb0cf;
}

main {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main section {
  width: 32%;
  min-height: 560px;
  padding: 15px 10px;
  border-radius: 15px;
  background-color: #E7DED7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}
main section h3 {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 1rem;
}
main section ul {
  width: 90%;
  padding: 0;
  margin: 10px auto;
}
main section ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  padding: 10px 15px;
  margin: 5px;
  width: 100%;
}
main section .pContainer {
  width: 80%;
}
main section .pContainer p {
  width: 90%;
  font-size: 0.8rem;
  margin: 5px 0;
}

div.newTaskFlex {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
div.newTaskFlex form {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  background-color: #c5bbb2;
  border: 1px solid rgba(112, 96, 73, 0.6);
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
div.newTaskFlex form input[type=text] {
  margin: 5px 0 10px 0;
  width: 100%;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  opacity: 0.85;
}
div.newTaskFlex form input[type=date] {
  display: inline-block;
  opacity: 0.85;
}
div.newTaskFlex form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10px;
}
div.newTaskFlex form button {
  -ms-flex-item-align: center;
      align-self: center;
  opacity: 0.85;
}

footer {
  width: 70%;
  margin: 0 auto;
}
footer div {
  background-color: #E7DED7;
  border-radius: 15px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 840px) {
  body {
    font-size: 0.8rem;
  }
  body h2 {
    font-size: 0.9rem;
  }
  body ::-webkit-input-placeholder {
    font-size: 0.6rem;
  }
  body ::-moz-placeholder {
    font-size: 0.6rem;
  }
  body :-ms-input-placeholder {
    font-size: 0.6rem;
  }
  body ::-ms-input-placeholder {
    font-size: 0.6rem;
  }
  body ::placeholder {
    font-size: 0.6rem;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header aside {
    width: 100%;
    margin: 25px 0;
  }
  header aside .inputContainer {
    min-width: 127px;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
  }
  main section {
    width: 100%;
    min-height: 400px;
    margin: 10px;
  }
  main .newTaskFlex {
    min-height: 400px;
    width: 100%;
  }
}
@media (max-width: 400px) {
  .wrapper {
    width: 95%;
  }
  aside {
    width: 90%;
  }
  header .mainHeading {
    margin: 30px;
  }
  footer div {
    padding: 8px;
    text-align: center;
  }
}